workflow/xhs-agent.json
{
  "nodes": [
    {
      "parameters": {
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        256,
        0
      ],
      "id": "d8803b5d-5870-41c6-9f29-c4ba2b18e59c",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        272,
        208
      ],
      "id": "5cc21c47-c725-4dd7-8fdb-c509763373b9",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "initialMessages": "你好，我是你的全能助手，有什么我可以帮你的吗？",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "7fbc1ca9-1f99-4ccf-86ec-6ec30d576bed",
      "name": "When chat message received",
      "webhookId": "643fb1fd-e88e-4a7c-9c14-efd32cef3436"
    },
    {
      "parameters": {
        "endpointUrl": "http://xiaohongshu-mcp:18060/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ],
      "id": "e742001e-4594-489a-899f-5bc1396711de",
      "name": "XiaoHongShu"
    },
    {
      "parameters": {
        "toolDescription": "生成图像",
        "method": "POST",
        "url": "https://www.dmxapi.cn/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "DMXAPI/1.0.0 (https://www.dmxapi.cn)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{$json.chatInput}}\",\n  \"n\": 1,\n  \"model\": \"seedream-3.0\",\n  \"size\": \"1024x1024\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        528,
        208
      ],
      "id": "f5c6dbf9-1e64-4e1c-ad63-c62e86295408",
      "name": "Image Generator",
      "credentials": {
        "httpBearerAuth": {
          "id": "QORCUWDdcY8HGJfS",
          "name": "DMXAPI account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        656,
        208
      ],
      "id": "241d3c06-f308-40af-bae3-698600b813df",
      "name": "Search Tool",
      "credentials": {
        "serpApi": {
          "id": "8v44euaBHjqMEtDb",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "gemini-2.5-flash"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        208
      ],
      "id": "73ad3d4b-34f6-4866-8026-9a27ca9aa098",
      "name": "Gemini-2.5-Flash",
      "credentials": {
        "openAiApi": {
          "id": "LfhmGmORAyNJYz2r",
          "name": "DMXAPI"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "gemini-2.5-pro"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        16,
        208
      ],
      "id": "1dcc7c02-f517-48fa-977f-b58da4561b13",
      "name": "Gemini-2.5-Pro",
      "credentials": {
        "openAiApi": {
          "id": "LfhmGmORAyNJYz2r",
          "name": "DMXAPI"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XiaoHongShu": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Generator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Gemini-2.5-Flash": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Gemini-2.5-Pro": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de7aadee1f6e1bcdc05df0d5c7ddee7c28ab650ebf9b2fe74e74f5ffd066fbbc"
  }
}