workflow/xhs-agent.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        416,
        0
      ],
      "id": "4799c282-6285-4b67-9649-bd6f3738018c",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "Qwen/Qwen2.5-7B-Instruct",
          "mode": "list",
          "cachedResultName": "Qwen/Qwen2.5-7B-Instruct"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "0e1ff46c-442b-4b85-a94c-1576b5f7d030",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "NAGBkWwsUn93IGvQ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "e8ca8888-1c08-4a78-9cd1-00d4264f6190",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "你好，我是你的全能助手，有什么我可以帮你的吗？",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "3ebfc8cf-ac68-4307-b24e-4bda3d4aedb8",
      "name": "When chat message received",
      "webhookId": "643fb1fd-e88e-4a7c-9c14-efd32cef3436"
    },
    {
      "parameters": {
        "sseEndpoint": "http://xhs-toolkit:8000/sse"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [
        576,
        208
      ],
      "id": "5fded7a3-3522-46c2-a73a-a82fa8fa0e79",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "toolDescription": "生成图像",
        "method": "POST",
        "url": "https://www.dmxapi.cn/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "DMXAPI/1.0.0 (https://www.dmxapi.cn)"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{$json.chatInput}}\",\n  \"n\": 1,\n  \"model\": \"seedream-3.0\",\n  \"size\": \"1024x1024\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        720,
        208
      ],
      "id": "20739431-df90-4631-8ee5-5e58d11e9e29",
      "name": "HTTP Request",
      "credentials": {
        "httpBearerAuth": {
          "id": "kx2LONUC0OQp7VWd",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        864,
        208
      ],
      "id": "4c6f5fc3-7741-48f0-8f44-39c6b8241098",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "CGm2jw98Nd5y0eIN",
          "name": "SerpAPI account"
        }
      }
    }
  ],
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9fd49ee57191e071dfdacb96415ddff1b56444a83d7bb0240489dedd86394fb6"
  }
}